#leftDrawerPane {
    -fx-background-color : linear-gradient(to bottom, #000000, #101010 5%, #101010 95%, #000000);
}

#topDrawerPane {
    -fx-background-color : #000000;
}

#topDrawerSticker {
    -fx-background-color : linear-gradient(to bottom, #000000, #101010 5%);
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: grey;
}